/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    height: 10000px;
}

header {
    /* position: fixed; */
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

marquee {
    font-size: 25px;
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 5px;
}

main {
    padding: 20px;
}

.dictionary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
}

.term {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(50% - 40px); /* Set 50% untuk tampilan desktop */
    box-sizing: border-box;
}

.term a {
    text-decoration: none;  /* Menghilangkan garis bawah pada link */
    display: inline-block;  /* Agar bisa menggunakan efek transform */
    transition: transform 0.3s ease;  /* Menambahkan transisi halus */
}

.term a:hover {
    text-decoration: underline;  /* Memastikan tidak ada garis bawah saat hover */
    transform: translateY(-10px);  /* Teks akan bergerak sedikit ke atas */
}

.term h2 {
    color: #333;
    margin-bottom: 10px;
}

.term p {
    color: #666;
    
}

@media screen and (max-width: 768px) {
    .term {
        width: calc(100% - 40px); /* Set 100% untuk tampilan mobile */
    }
}
