/* p {
    border: 1px solid black;
    padding: 5px;
    margin: 20px;
    color: rgb(38, 190, 190);
    background-color: blueviolet;
} */

.coba {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    color: aqua;
    background-color: blue;
    
}